<h1><%= @question.title  %></h1>
<p><%= @question.content  %></p>
<% if signed_in? %>
  <%= link_to "Add Answer", new_question_answer_path(@question)  %>
<% end %>

<h3>Answers For question</h3>
<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th> 
  </tr>
  <% @question.answers.each do |answer| %>
  <tr>
    <td><%= link_to answer.content, question_answer_path(@question,answer)  %></td>
    <% if signed_in? %>
      <td><%= link_to "Edit answer", edit_question_answer_path(@question,answer)  %></td>
      <td><%= link_to "Delete answer", [@question,answer], method: :delete, data: {confirm: "Are you sure to delete question?"}  %></td>
    <% end %>
  </tr>
  <% end %>   
</table>

<h2>Comments</h2>
<%= render 'comments/comments'  %>
<% if signed_in? %>
  <%= render 'comments/form'  %>
<% end %>